.card {
  padding: 12px 24px;
  min-width: 400px;
  border: 1px solid #595959;
  margin-right: 12px;
  margin-bottom: 20px;
  flex: 1;
}

.card-section {
  align-items: center;
  margin: 12px 0px;
}

.card-text {
  margin-left: 8px;
  font-size: 18px;
}
